.ballModal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 99;
  padding: 30px 0;
}

.ballModal__wrap {
  flex-shrink: 0;
  flex-grow: 0;
  padding: 15px;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.ballModal__window {
  margin: 50px 0;
  padding: 30px;
  flex-shrink: 0;
  flex-grow: 0;
  background: #fff;
  border: 2px solid black;
  width: 300px;
  max-width: 100%;
  overflow: visible;
  transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
  transform: scale(0.9);
}
