.control-button {
  border-radius: 10px;
  border: none;
  color: white;
  transition: 0.2s linear;
  background: #6ed2eb;
  font-size: 25px;
  padding: 5px;
  margin-top: 15px;
  width: 200px;
}

.control-button:hover {
  box-shadow: 0 0 0 2px white, 0 0 0 4px #6ed2eb;
}
